# Build directories
[Bb]uild/
[Oo]ut/
[Bb]in/
/*.zip

# Program outputs except examples
[Oo]utput/[Ss]creenshots/*
![Oo]utput/[Ss]creenshots/example.png
[Oo]utput/save.json

# IDE files
.vscode/
.vs/
.idea/
.VSCodeCounter/
*.user
*.sln
*.cbp
*.depend
*.layout
*.vcxproj

# Package manager
vcpkg_installed/

# ImGUI
imgui.ini